<a href="https://colab.research.google.com/github/AstroOlguin/Tarea-1/blob/main/Tarea_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CD2201-16: Ciencia de Datos en Astronomía**

**Profesores:** Boris Cuevas, Paula Díaz, Danilo Sepúlveda, Francisco Urbina
# **Tarea 1: Introducción a Numpy, Pandas y Matplotlib**

El objetivo de esta tarea es repasar y aprender contenidos básicos de estas librerías que les serán útiles para el resto del curso.

Recordar las instrucciones mencionadas en clases:
1. Para hacer esta tarea tienen que hacer un fork del repositorio en sus
cuentas de GitHub.
2. Luego deben habilitar sus cuentas de Google Colab (cuenta Google requerida)
3. Abrir Google Colab y seleccionar "abrir un archivo desde GitHub". Deben seleccionar su cuenta Github y escoger el repositorio que corresponde al fork que hicieron.
4. Si todo sale bien, debería abrirse una copia de este notebook en su cuenta de Google Colab.
5. Cada vez que completen un ítem, deben guardar un avance en su fork de GitHub, de modo de respaldar cada avance significativo. Usen comentarios coherentes con cada respaldo "Sección de Numpy completada", "Tarea terminada", no solamente el que pone por defecto.

In [37]:
# Antes de comenzar con la tarea debe correr esta celda para importar las librerías principales a utilizar
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1. Numpy (Tiempo estimado: 15 min)

Una de las características principales que vuelven a Numpy tan útil son sus capacidades algebráicas, y la posibilidad de trabajar con conjuntos de datos de N dimensiones, lo que permite acelerar cálculos. Para destacar esto, a continuación se hacen una serie de ejercicios simples donde se pide que realicen las mismas operaciones usando Numpy y las listas de Python, y que luego comparen cuánto tarda cada operación.

Para visualizar la velocidad de Numpy respecto a las listas de Python, deberán correr las funciones que se les pide a continuación con $\textit{%timeit}$, de la siguiente manera:

```
%timeit nombre_funcion(parametro_1, parametro_2)
```

Esto entregará como output el tiempo medio que toma en correr la función y la desviación estándar

### Crear arreglos y listas
A continuación debes crear un par de listas de Python y un par de arreglos de Numpy. Estos arreglos son los que se utilizarán para testear las funciones que crearás en las celdas siguientes.

La primera lista debe ser una secuencia de números enteros desde 1 hasta 49. La segunda debe ir desde 101 hasta 149. Lo mismo para los arreglos.

In [2]:
# Cree las listas aquí
a_list = [x for x in range(1,50)]
b_list =[x for x in range(101,150)]

# Cree los arreglos aquí
a_arr = np.array([x for x in range(1,50)])
b_arr = np.array([x for x in range(101,150)])

print(a_arr)
print(a_list)
print(b_arr)
print(b_list)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118
 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136
 137 138 139 140 141 142 143 144 145 146 147 148 149]
[101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149]

### Suma de listas de elementos

* Cree la función $\textbf{suma_listas}$, que sume 2 listas de python $a$ y $b$.
* Cree la función $\textbf{suma_arrays}$, que sume 2 arrays de numpy $a$ y $b$.
* Compare la eficiencia de las 2 funciones utilizando $\textit{%timeit}$ para cada una

In [3]:
# Cree las funciones aquí

def suma_listas(a,b):
  c = []
  for x in range(len(a)):
    a1 = a[x]
    b1 = b[x]
    c.append(a1+b1)
  return c

print(suma_listas(a_list,b_list))


def suma_arrays(a,b):
  return a + b

print(suma_arrays(a_arr,b_arr))

[102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]
[102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136
 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172
 174 176 178 180 182 184 186 188 190 192 194 196 198]

In [4]:
# Compare el tiempo aquí

%timeit suma_listas(a_list,b_list)

%timeit suma_arrays(a_arr,b_arr)

22.2 µs ± 4.21 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
1.85 µs ± 1.22 µs per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

### Multiplicación de listas de elementos

* Cree la función $\textbf{mupliply_listas}$, que multiplique 2 listas de python $a$ y $b$
* Cree la función $\textbf{mupliply_arrays}$, que multiplique 2 listas de python $a$ y $b$
* Compare la eficiencia de las 2 funciones utilizando $\textit{%timeit}$ para cada una

In [5]:
# Cree las funciones aquí

def mupliply_listas(a,b):
  c = []
  for x in range(len(a)):
    a1 = a[x]
    b1 = b[x]
    c.append(a1*b1)
  return c

print(mupliply_listas(a_list,b_list))


def mupliply_arrays(a,b):
  return a * b

print(mupliply_arrays(a_arr,b_arr))

[101, 204, 309, 416, 525, 636, 749, 864, 981, 1100, 1221, 1344, 1469, 1596, 1725, 1856, 1989, 2124, 2261, 2400, 2541, 2684, 2829, 2976, 3125, 3276, 3429, 3584, 3741, 3900, 4061, 4224, 4389, 4556, 4725, 4896, 5069, 5244, 5421, 5600, 5781, 5964, 6149, 6336, 6525, 6716, 6909, 7104, 7301]
[ 101  204  309  416  525  636  749  864  981 1100 1221 1344 1469 1596
 1725 1856 1989 2124 2261 2400 2541 2684 2829 2976 3125 3276 3429 3584
 3741 3900 4061 4224 4389 4556 4725 4896 5069 5244 5421 5600 5781 5964
 6149 6336 6525 6716 6909 7104 7301]

In [6]:
# Compare el tiempo aquí


%timeit mupliply_listas(a_list,b_list)

%timeit mupliply_arrays(a_arr,b_arr)

11.7 µs ± 2.9 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)
686 ns ± 8.61 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

### Aplicación práctica (IMF de Salpeter)

Las Funciones de Masa Inicial (IMF) son muy útil es astronomía pues nos da cuenta de un estimado del número de estrellas que se van a formar en un periodo de formación estelar a partir de un reservorio de masa M [referencia](https://es.wikipedia.org/wiki/Función_de_masa_inicial), lo que permite estudiar poblaciones estelares. En particular, si tenemos un rango de masas $[M_1, M_2]$, se puede demostrar que el número de estrellas que nacerán de un reservorio de masa $\xi_0$ (ignorar unidades) está dada por ecuación $(1)$

$$N = \frac{\xi_0}{1.35} (M_1^{-1.35} - M_2^{-1.35}) \tag{1}$$

Para esta prueba usted debe:

* Crear un array de masas $\textbf{lista_masas}$ que vaya desde $0.2 M_{\odot}$ hasta $80 M_{\odot}$, con pasos de $0.05 M_{\odot}$. Note que para este ejercicio puede ignorar la unidad de la masa.
* Recrear la ecuación $(1)$ como función en python. Considere $\xi_0=1$
* Calcular el número de estrellas que se formarán por intervalo de $\textbf{lista_masas}$, en $[0.2, 0.25], [0.25, 0.3], [0.3, 0.35], ..., [79.9, 79.95] y [79.95, 80]$ utilizando Numpy.
* Luego calcule el número total de estrellas formadas, es decir, sume todos los números de estrellas calculados en el punto anterior.

In [7]:
# Cree el arreglo
lista_masas = np.arange(0.2,80.04,0.05)

print(lista_masas)

[ 0.2   0.25  0.3  ... 79.9  79.95 80.  ]

In [8]:
# Cree la función que se le pide
def IMF(m1, m2):
  e0 = 1
  return (e0/1.35)*(m1**(-1.35) - m2**(-1.35))

#Prueba
print(IMF(2,5))

0.20624221115803312

In [9]:
# Haga los cálculos aquí

spi= np.array([])
print(spi)

d = IMF(lista_masas[0],lista_masas[1])
print(d)
for l in range(np.size(lista_masas)-1):
  a = lista_masas[l]
  b = lista_masas[l+1]


  x = IMF(a,b)

  spi=np.append(spi,x)

print("Estrellas por intervalo:",spi)

print("Total de estrellas:", np.sum(spi))

[]
1.692078410281669
Estrellas por intervalo: [1.69207841e+00 1.05018880e+00 7.07010806e-01 ... 1.69162663e-06
 1.68914077e-06 1.68666012e-06]
Total de estrellas: 6.503428407627911

## 2. Pandas (Tiempo estimado 20 min)

Para esta sección veremos algunas de las funciones principales que existen dentro de pandas, dando una pincelada a sus capacidades. Como recomendación, puede explorar la [documentación](lista_masas), y mirar el tutorial [10 minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html), pero no es obligatorio para esta parte.

### Creación de datos

Recree el siguiente DataFrame **almacen**:


|        | Manzana | Frutilla | Melón |
|--------|---------|----------|-------|
| Stock inicial  | 25      | 80       | 15    |
| Ventas | 14      | 60       | 6     |

In [73]:
cositas = {'Manzana':[25,14],'Frutilla':[80,60],"Melón":[15,6]}

almacen = pd.DataFrame(cositas, index = ['Stock inicial','Ventas'],columns = cositas.keys())

print(almacen)

               Manzana  Frutilla  Melón
Stock inicial       25        80     15
Ventas              14        60      6

Haga ahora un inventario de la cantidad que queda por producto después de las ventas, y añada la fila **bodega** con esta información.

In [94]:
llaves = list(cositas.keys())
bodega={'Manzana':[],'Frutilla':[],'Melón':[]}

for l in range(len(cositas)):
  resto = almacen.iat[0,l] - almacen.iat[1,l]

  bodega[llaves[l]] = [resto]

almacen1 = pd.DataFrame(bodega, index = ['Bodega'],columns = bodega.keys())

almacen2 = pd.concat([almacen,almacen1])

print(almacen2)

               Manzana  Frutilla  Melón
Stock inicial       25        80     15
Ventas              14        60      6
Bodega              11        20      9

### Visualización de Tablas
Para esta parte primero debe montar el drive, lo que permite leer archivos guardados en el mismo. Para esto debe correr la celda de abajo.

In [142]:
from google.colab import drive
drive.mount('/content/drive')    # se le debe abrir una pestaña extra pidiendo permisos

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Importe el dataset (archivo **censo.csv**) utilizando la función **pd.load_csv(path)** y guárdelo como **df_censo**.

En la barra de herramientas ubicada en la izquierda, puede encontrar la ruta (path) al archivo "censo.csv" dentro de su drive. Copie la ruta y cargue dicha base de datos en la siguiente celda como se le indica.

In [143]:
path = '/content/drive/MyDrive/Modulos/censo.csv'

df_censo = pd.read_csv(path)

Con este dataset se pide hacer lo siguiente:

* Vea los primeros 10 elementos de $\textbf{df_censo}$
* Vea las columnas del dataframe
* Traduzca las columnas a español (manualmente).
* Use la función $\textbf{describe}$ para visualizar la estadística de cada columna del dataframe. ¿Ve algo que no tiene sentido?

In [144]:
# Agregue más celdas si es necesario

print(df_censo[:10]) #Visualizar los primeros 10 elementos

                               name        city  age  n_siblings
0      Paula_Miguel_Garcia_Gonzalez     Iquique   35           0
1         Maria_Pedro_Jimenez_Lopez    Rancagua   49          -1
2    Carolina_Juan_Jimenez_Gonzalez     Iquique   16           1
3          Lucia_Marta_Jimenez_Sanz    Santiago   42           2
4         Marta_Roberto_Garcia_Sanz  Valparaiso   12           3
5         Roberto_Paula_Lopez_Gomez       Arica   38          -2
6  Pedro_Valentina_Garcia_Hernandez    Santiago   40           0
7         Sofia_Marta_Garcia_Garcia    Santiago   10           1
8   Carolina_Eduardo_Perez_Gonzalez    Santiago   40           0
9     Pedro_Julia_Gonzalez_Gonzalez    Santiago   55           0

In [145]:
# Visualizar las columnas del dataframe

print(df_censo.head(0)) # Aquí podemos ver los nombres de las columnas


print(df_censo['name']) # Vemos la columna "name"
print('')
print(df_censo['city']) # Vemos la columna "city"
print('')
print(df_censo['age']) # Vemos la columna "age"
print('')
print(df_censo['n_siblings']) # Vemos la columna "n_siblings"
print('')

Empty DataFrame
Columns: [name, city, age, n_siblings]
Index: []
0         Paula_Miguel_Garcia_Gonzalez
1            Maria_Pedro_Jimenez_Lopez
2       Carolina_Juan_Jimenez_Gonzalez
3             Lucia_Marta_Jimenez_Sanz
4            Marta_Roberto_Garcia_Sanz
                     ...
1995     Pedro_Pedro_Martinez_Gonzalez
1996       Miguel_Carlos_Zapata_Garcia
1997           Diego_Diego_Zapata_Sanz
1998         Julia_Sofia_Gonzalez_Sanz
1999    Eduardo_Julia_Jimenez_Gonzalez
Name: name, Length: 2000, dtype: object

0          Iquique
1         Rancagua
2          Iquique
3         Santiago
4       Valparaiso
           ...
1995        Curico
1996      Santiago
1997    Valparaiso
1998        Curico
1999      Santiago
Name: city, Length: 2000, dtype: object

0       35
1       49
2       16
3       42
4       12
        ..
1995    24
1996    43
1997    43
1998    42
1999    46
Name: age, Length: 2000, dtype: int64

0       0
1      -1
2       1
3       2
4       3
       ..
1995   -1
1996    0
1997    1
1998    1
1999    0
Name: n_siblings, Length: 2000, dtype: int64

In [146]:
# Traducir las columnas al español

df_censo2 = df_censo.rename(columns={"name":"Nombre","city":"Ciudad","age":"Edad","n_siblings":"Número de Hermanos"}) #La función

In [147]:
# Visualizar la estadística de cada columna del dataframe


df_censo2["Nombre"].describe() # Vemos las estadísticas de la columna "Nombre"

count                             2000
unique                            1945
top       Pedro_Juan_Gonzalez_Gonzalez
freq                                 3
Name: Nombre, dtype: object

In [148]:
df_censo2["Ciudad"].describe() # Vemos las estadísticas de la columna "Ciudad"

count         2000
unique          11
top       Santiago
freq           839
Name: Ciudad, dtype: object

In [149]:
df_censo2["Edad"].describe() # Vemos las estadísticas de la columna "Edad"

count    2000.000000
mean       34.286500
std        14.724158
min       -26.000000
25%        24.000000
50%        34.000000
75%        44.000000
max        84.000000
Name: Edad, dtype: float64

In [150]:
df_censo2["Número de Hermanos"].describe() # Vemos las estadísticas de la columna "Número de Hermanos"

count    2000.00000
mean        0.75000
std         1.73234
min        -6.00000
25%         0.00000
50%         0.00000
75%         2.00000
max         7.00000
Name: Número de Hermanos, dtype: float64

Se ven situaciones "raras" en las columnas de Edad y "Numero de Hermanos", en los cuales podemos ver elementos negativos, lo que no hace sentido siendo que alguien no puede tener edad negativa, o cantidad de hermanos negativos.

### Filtar los datos

Repare el dataframe siguiendo los siguientes pasos:

* Descarte los elementos del dataframe donde la edad sea menor a cero.
* Reemplace los casos en que el número de hermanos es menor a cero por cero.
* Descarte los casos en que el mismo nombre aparezca más de una vez (use la función [drop_duplicates](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html#pandas.DataFrame.drop_duplicates) y mantenga el primer elemento: keep = 'first').

In [151]:
# Agregue más celdas si es necesario

df_censo_filtr1 = df_censo2[df_censo2["Edad"]>0] # Filtramos el dataFrame con la condición de que los elementos en "Edad" sean mayor a 0 y así descartamos los valores negativos

print(df_censo_filtr1)

df_censo_filtr1["Edad"].describe() # Vemos las estadísticas de la columna "Edad" para comprobar

                              Nombre      Ciudad  Edad  Número de Hermanos
0       Paula_Miguel_Garcia_Gonzalez     Iquique    35                   0
1          Maria_Pedro_Jimenez_Lopez    Rancagua    49                  -1
2     Carolina_Juan_Jimenez_Gonzalez     Iquique    16                   1
3           Lucia_Marta_Jimenez_Sanz    Santiago    42                   2
4          Marta_Roberto_Garcia_Sanz  Valparaiso    12                   3
...                              ...         ...   ...                 ...
1995   Pedro_Pedro_Martinez_Gonzalez      Curico    24                  -1
1996     Miguel_Carlos_Zapata_Garcia    Santiago    43                   0
1997         Diego_Diego_Zapata_Sanz  Valparaiso    43                   1
1998       Julia_Sofia_Gonzalez_Sanz      Curico    42                   1
1999  Eduardo_Julia_Jimenez_Gonzalez    Santiago    46                   0

[1980 rows x 4 columns]

count    1980.000000
mean       34.701010
std        14.183469
min         1.000000
25%        24.000000
50%        34.000000
75%        44.000000
max        84.000000
Name: Edad, dtype: float64

In [156]:
df_censo_filtr1[df_censo_filtr1["Número de Hermanos"] < 0] = 0 #Reemplazamos los elementos menores a 0 en la columna "Numero de Hermanos" por NaN usando np.nan de numpy

<ipython-input-156-cd725a6d7549>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_censo_filtr1[df_censo_filtr1["Número de Hermanos"] < 0] = 0 #Reemplazamos los elementos menores a 0 en la columna "Numero de Hermanos" por NaN usando np.nan de numpy

In [158]:
df_censo_filtr1["Número de Hermanos"].describe() # Vemos las estadísticas de la columna "Número de Hermanos" para comprobar

count    1980.000000
mean        1.039394
std         1.364927
min         0.000000
25%         0.000000
50%         0.000000
75%         2.000000
max         7.000000
Name: Número de Hermanos, dtype: float64

## 3. Matplotlib

Matplotlib es la librería que nos permitirá crear todo tipo de figuras para visualizar nuestros datos ([documentación](https://matplotlib.org/stable/index.html)). A pesar de su popularidad, no posee una gran versatilidad al momento de hacer una visulización interactiva. Sin embargo,su fiabilidad y simplicidad la han hecho una de las librerías fundamentales para la ciencia de datos en Python.

### Visualización simple

Genere un arreglo de 100 números que vayan desde 0 a 4$\pi$.

In [14]:
x_values =

SyntaxError: invalid syntax (<ipython-input-14-4f700407a706>, line 1)

Utilizando las funciones **np.sin()** y **np.cos()** de numpy, cree la siguiente función:
$$f(x) = 1.5[\sin(3x+\pi/4)+\cos(2x)] \tag{2}$$

Luego aplique la función al arreglo generado en la celda de arriba y grafique. Haga el plot sin crear una figura, es decir solo usando el comando **plt.plot(x, y)**.

In [ ]:
# Escriba la función aquí
def f(x):


# Haga el plot aquí

Ahora incluya también en el plot la misma función  pero con un poco de ruido. Para esto simplemente debes sumar la variable **ruido** definida abajo a la función.

Plotee la función ruidosa de color rojo, y en azul la función sin ruido. Incluya además una leyenda con **plt.legend()**. Ojo que para que aparezca la leyenda de la figura, en **plt.plot()** debe incluir el parámetro **label**

In [ ]:
np.random.seed(19680801) # por ahora ignorar esto
ruido = 0.4*np.random.randn(len(x_values))

# Línea para plotear función sin ruido


# Línea para plotear función con ruido

Es una buena práctica también el siempre inicializar una figura. Esto además permite definir un tamaño al plot que se va a generar. Use **plt.figure(figsize=(size_x, size_y))** para cambiar el tamaño de la figura y recree todo lo que hizo en la celda anterior.

Para estas funciones, sabemos que tiene un mayor sentido definir el eje x en función de $\pi$ en lugar de números enteros. Haga de nuevo la figura pero ahora utilize la función **plt.xticks()** para reescribir los valores de x como múltiplos de $\pi$. Utilice como labels la lista **xticks_labels** que ya está definida.

Además, tenga en cuenta que se puede escribir texto en latex de la siguiente forma:
```
r'$\pi$'
```

In [ ]:
xticks_labels = [r'$\pi$', r'$2\pi$', r'$3\pi$', r'$4\pi$']

Como ultimo paso, agregue una grilla con **plt.grid(True)**. Además añada un título a la figura y labels en ambos ejes (x e y) que tengan sentido.

### Visualización distribución de estrellas

El archivo **galaxy2.csv** contiene datos de la posición de estrellas sintéticas de una galaxia. Al igual que en la sección anterior, cargue los datos utilizando **pd.read_csv()**.

In [ ]:
# Carge y abra el archivo

Vea los primeros 10 elementos del dataframe. ¿Qué tipo de información puede encontrar? Dado el nombre de las columnas, ¿en qué unidades se encuentran?

**Respuesta:** responda aquí a la pregunta

Plotee las estrellas en el plano $[x, y]$ utilizando **plt.plot()**. Para hacer esto hay que plotear solo los marcadores, esto se puede hacer con: **marker=' . ', linestyle='  '**, o simplemente con **' . '**. Recuerde agregar los labels en cada eje.

Se puede ver que muchas de las estrellas se extienden muy lejos de la galaxia. Para simplificar la visualización setee un **plt.xlim()** y **plt.ylim()** en el rago que considere que funcione mejor (Recomendación, como los números son muy grandes, use la notación $1eN$, con $N$ el orden de magnitud, para facilitar la escritura).

Adicionalmente, cuando se trabaja con marcadores, podemos usar el parámetro **markersize** para modificar su tamaño. El plot anterior muestra con bastante claridad las estrellas que están más lejanas, pero dificulta la visualización de las regiones más centrales de la galaxia. Actualice el tamaño de los marcadores a $0.5$, de manera que sea más suave la visualización de la distribución de estrellas. Plotee además las estrellas vistas en el plano $[x, y]$, $[x, z]$, $[y, z]$.

Recuerde agregar los labels en cada eje.

Póngase creativo con los gráficos, defina tamaños de la figura, agregue colores, defina los tamaños de los labels, etc.

In [ ]:
# Grafique vista en plano [x, y] aquí

In [ ]:
# Grafique vista en plano [x, z] aquí

In [ ]:
# Grafique vista en plano [y, z] aquí

#### Distribuciones

Calcule la distancia $r$ y ángulo $\theta$ de cada una de las estrellas y añada estos valores a las columnas del dataframe original. Donde

$r = \sqrt{x^2 + y^2 + z^2}$

$θ = \arctan(y/x)$

Finalmente, visualize la distribución de $r$ y $\theta$ con un histograma. Esto se puede contruir desde cero con matplotlib, sin embargo pandas simplifica hacer análisis como estos, permitiendo rápidamente hacer diferentes análisis estadísticos. El siguiente codigo muestra como se puede plotear un histograma a partir de un dataframe de Pandas:


```
dataframe.plot.hist(y=column_name, bins=n_bins)
```

Utilice una escala logarítmica en el eje vertical del histograma de la coordenada radial ($r$). Use la cantidad de bins que considere que representen bien la distribución.